<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Boba Shop</h1>
        <div class="col-6 offset-3">
            <form action="/shops/<%=shop._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="shop[title]" value="<%=shop.title %>"
                        required>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="shop[location]"
                        value="<%=shop.location %>" required>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" id="image" name="shop[image]" value="<%=shop.image %>"
                        required>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Shop Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="shop[price]" value="<%=shop.price %>" required>
                        <div class="valid-feedback">
                            Valid!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="shop[description]"
                        required><%= shop.description%></textarea>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Shop</button>
                </div>
            </form>
            <a href="/shops/<%= shop._id%>">Back To Shop Details</a>

        </div>
    </div>