<% layout('layouts/boilerplate') %>
    <h1>All boba shops</h1>
    <div>
        <a href="/shops/new">Add New Boba Shop</a>
    </div>

    <% for (let shop of shops) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%=shop.image %> ">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=shop.title %>
                        </h5>
                        <p class="card-text">
                            <%=shop.description %>
                        </p>
                        <p class="card-text"><small class="text-secondary">
                                <%=shop.location %>
                            </small></p>
                        <a href="/shops/<%=shop._id %>" class="btn btn-primary">Visit <%=shop.title%></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>